body{
    background: #000123
}

.head{
    margin-top: 25px;
}

.title{
    font-family: 'Unbounded', cursive;
    text-align: center;
    color: #fff;
    font-size: 43px;
    box-shadow: 0px 4px 4px #ff0f7b, 6px 6px 6px #8B008B;
}

.card{
    box-shadow: 4px 4px 4px #ff0f7b, 6px 6px 6px #8B008B;
    background: rgb(219, 207, 207);
    border-radius: 20px;
}

.card-img-top{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}

.btn{
    background: rgb(219, 207, 207);
    color: #ff0f7b;
    border: 1px solid #ff0f7b;
}

.btn:hover{
    background: #ff0f7b;
    color: rgb(219, 207, 207);
}